node_modules
dist
dist-ssr
*.local
.DS_Store
*.tsbuildinfo
vite.config.js
vite.config.d.ts
android/.idea
android/.gradle
android/local.properties
android/app/build
android/build
android/key.properties
android/key.properties.txt
android/upload-keystore.jks
